{% load static %}

{% block extend_js %}
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/qapp_builder.js' %}"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %}

<div class="well">
    <h4 class="text-center">A.1 Approval Page</h4>
    <div class="grid-row">
        <div class="grid-col-7">
            <table class="table-label-values">
                <tbody>
                    <tr>
                        <td class="text-right table-label">QAPP Plan Title</td>
                        <td>{{project_approval.project_plan_title}}</td>
                    </tr>
                    <tr>
                        <td class="text-right table-label">QAPP Activity Number</td>
                        <td>{{project_approval.activity_number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid-col-5">
            <div class="button-group">
                <button class="usa-button usa-button--accent-warm">Edit Plan Title and Activity Number</button>
            </div>
        </div>
    </div>

    <div class="narrow-button-group float-right">
        <button class="usa-button" onclick="addApprovalSignature({{qapp.id}})">
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#add"></use>
              </svg>
        </button>
        <button class="usa-button usa-button--accent-warm modSelectedButton" onclick="editApprovalSignature(this, {{qapp.id}})" disabled>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#edit"></use>
              </svg>
        </button>
        <button class="usa-button usa-button--secondary modSelectedButton" onclick="deleteApprovalSignature(this, {{qapp.id}})" disabled>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#delete"></use>
              </svg>
        </button>
    </div>

    <table class="usa-table full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>EPA or Contractor</th>
                <th>Signature</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if project_approval_signatures %}
            {% for signature in project_approval_signatures %}
            <tr id="project_approval-{{signature.id}}" onclick="rowClick('project_approval-{{signature.id}}')">
                <td scope="row">{{signature.name}}</td>
                {% if signature.contractor %}
                <td>Contractor</td>
                {% else %}
                <td>EPA</td>
                {% endif %}
                <td>{{signature.signature}}</td>
                <td>{{signature.date}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr><td colspan="4">No Signatures have been added!</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>
