{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionE/header_footer_partial.html' %}
        {% if save_success %}
        <h3 id="save_success" class="text-success col-md-12 text-center">{{save_success}}</h3>
        {% endif %}
        <div class="border rounded p-3 row">
            {% include '_qapp_header.html' %}

            <div class="col-md-12">
                <form enctype="multipart/form-data" action="/qapp_builder/SectionE?qapp_id={{qapp_id}}" method="post" role="form" id="sectione_form">
                    {% csrf_token %}
                    <div class="">
                        <div class="usa-form-group hidden">{{form.qapp}}</div>

                        <!------- Section References ------->
                        <div class="usa-form-group">
                            <label class="col-sm-3 control-label">
                                {{form.references.label}}
                            </label>
                            <div class="col-sm-8">{{form.references}}</div>
                        </div>

                        <div class="button-group">
                            <button type="submit" class="usa-button">Save Changes</button>
                            <button type="reset" class="usa-button">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'SectionE/header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}