{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img src="{% static 'EPA_files/logo.png' %}" alt="">
            <p class="float-right blue-box-with-shadow">QUALITY ASSURANCE PROJECT PLAN</p>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Office of Research and Development</h2>
            <h3>Center for Environmental Solutions & Emergency Response</h3>
        </div>
    </div>

    <div class="row mt-4">
        <h3>Adding a new Project Lead for QAPP with ID {{qapp_id}}</h3>
        <div class="col-md-12">
            <form enctype="multipart/form-data" action="/qapp_builder/revision/create/" method="post" role="form">
                {% csrf_token %}
                <div class="usa-form-group hidden">{{form.qapp}}</div>

                <div class="usa-form-group">
                    <label>{{form.revision.label}}</label>
                    {{form.revision}}
                </div>

                <div class="usa-form-group">
                    <label>{{form.description.label}}</label>
                    {{form.description}}
                </div>

                <div class="usa-form-group">
                    <label>{{form.effective_date.label}}</label>
                    {{form.effective_date}}
                </div>

                <div class="usa-form-group">
                    <label>{{form.initial_version.label}}</label>
                    {{form.initial_version}}
                </div>

                <div class="button-group">
                    <button type="submit" class="usa-button">Save</button>
                    <button type="reset" class="usa-button">Reset</button>
                    <button type="reset" onclick="window.location.href='/qapp_builder/SectionF?qapp_id={{qapp_id}}'" class="usa-button">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#id_effective_date").datetimepicker(
            {
                sideBySide: true,
                format: 'MM/DD/YYYY HH:mm:ss',
            });
    });
</script>
{% endblock %}