{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionB/header_footer_partial.html' %}
        {% if save_success %}
        <h3 id="save_success" class="text-success col-md-12 text-center">{{save_success}}</h3>
        {% endif %}
        <div class="border rounded p-3 row">
            {% include '_qapp_header.html' %}
            <div class="col-md-12">
                <form enctype="multipart/form-data" action="/qapp_builder/SectionB?qapp_id={{qapp_id}}" method="post" role="form" id="sectionb_form">
                    {% csrf_token %}
                    <div class="">
                        <div class="usa-form-group hidden">{{form.qapp}}</div>
                        <div class="usa-form-group hidden">{{form.sectionb_type}}</div>
                        {% for field in form %}
                        {% if field.help_text %}
                        <div class="usa-form-group">
                            <label class="col-sm-3 control-label">
                                {{field.label}}
                                <span class="usa-tooltip" data-position="top" title="{{field.help_text}}">
                                    <svg class="usa-icon" aria-hidden="false" focusable="false" role="img">
                                        <use xlink:href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#info_outline"></use>
                                    </svg>
                                </span>
                            </label>
                            <div class="col-sm-8">{{field}}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="button-group">
                            <button type="submit" class="usa-button">Save Changes</button>
                            <button type="reset" class="usa-button">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'SectionB/header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });
</script>
{% endblock %}