<div class="button-group">
    <!-- TODO: Previous Page button? -->
    <button type="reset" class="usa-button">
        Reset Inputs
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#autorenew"></use>
        </svg>
    </button>
    <button type="submit" class="usa-button" >
        Next Page
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#navigate_next"></use>
        </svg>
    </button>
</div>