<table class="table-label-values">
    <tbody>
        <tr>
            <td class="text-right table-label">Division</td>
            <td>{{object.division}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">Division Branch</td>
            <td>{{object.division_branch}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">QAPP Title</td>
            <td>{{object.title}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">QA Category</td>
            <td>{{object.qa_category}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">Intra/Extramural</td>
            <td>{{object.intra_extra}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">Revision Number</td>
            <td>{{object.revision_number}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">Date</td>
            <td>{{object.date}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">Prepared By</td>
            <td>{{object.prepared_by}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">StRAP</td>
            <td>{{object.strap}}</td>
        </tr>
        <tr>
            <td class="text-right table-label">QA Tracking ID</td>
            <td>{{object.tracking_id}}</td>
        </tr>
    </tbody>
</table>