{% extends 'main/base.html' %} {% load static %} {% block content %}
<div style="text-align: center">
  <h2>
    QAPP Builder
  </h2>
</div>

<p>
  This page contains existing QAPPs that you have created.
  It does not contain QAPPs created by other users.
</p>

{% if user.is_authenticated %}

<table class="usa-table">
  <caption>
    QAPPs
  </caption>
  <thead>
    <tr>
      <th data-sortable scope="col">#</th>
      <th data-sortable scope="col">Title</th>
      <th data-sortable scope="col">Prepared By</th>
      <th data-sortable scope="col">Date</th>
      <th data-sortable scope="col">Tracking ID</th>
    </tr>
  </thead>
  <tbody>
    {% if qapp_list %} {% for qapp in qapp_list %}
    <tr id="{{qapp.id}}" onclick="rowClick('{{qapp.id}}')">
      <th scope="row">{{qapp.id}}</th>
      <td>{{qapp.title}}</td>
      <td>{{qapp.prepared_by}}</td>
      <td>{{qapp.date|date:"Y-m-d"}}</td>
      <td>{{qapp.tracking_id}}</td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="5">No QAPPs exist!</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>

<div class="button-group">
  <button class="usa-button" onclick="window.location.href='/qapp_builder/create'">
    Create a new QAPP
  </button>
</div>

<div class="button-group">
  <button class="usa-button modSelectedButton" onclick="editQapp(this)" disabled>
    Edit Selected QAPP
  </button>
  <button class="usa-button" onclick="exportAll('docx')">
    Export All to Docx
  </button>
  <button class="usa-button" onclick="exportAll('pdf')">
    Export All to PDF
  </button>
</div>
{% endif %} {% endblock %} {% block extend_js %}
<!-- NOTE: JQuery is already included inside base.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %} {% block scripts %}
<script>
  function editQapp(btn) {
    if ($(btn).attr("disabled")) return;
    const id = $(btn).attr("id");
    window.location.href = `/qapp_builder/${id}/detail`;
  }

  function exportAll(exportType) {
    urlType = "exportdocx";
    if (exportType === "pdf") urlType = "exportpdf";

    window.location.href = "/qapp_builder/" + urlType;
  }
</script>
{% endblock %}
