{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    {% include '_qapp_header.html' %}
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <h4>{{ error|escape }}</h4>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
                <h4>{{ error|escape }}</h4>
        {% endfor %}
    </div>
    {% endif %}

    <form enctype="multipart/form-data" action="/qapp_builder/create/" method="post" role="form" id="qapp_form">
        {% csrf_token %}

        <div class="">
            <div class="usa-form-group">
                <label for="" class="control-label">{{form.teams.label}}</label>
                <a href="{% url 'team_create' %}" class="usa-button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Create Team
                </a>
                {{form.teams}}
            </div>

            <div class="usa-form-group">
                <label for="" class="control-label">{{form.can_edit.label}}</label>
                {{form.can_edit}}
            </div>

            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.division.label}}</label>
                {{form.division}}
            </div>
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.division_branch.label}}</label>
                {{form.division_branch}}
            </div>

            <!-- There's some blank space here in the original PDF Form -->
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.title.label}}</label>
                {{form.title}}
            </div>

            <!-- There's some blank space here in the original PDF Form -->
            <!-- TODO: Implement multiple 'project lead' form -->
            <div class="form-group margin-top-1em">
                <label for="" class="usa-label">Project Leads:</label>
                <!--<button type="submit" class="usa-button">
                    Add New Project Lead
                    <span class="fa fa-plus mx-2"></span>
                </button>-->
                <p class="text-muted">Add Project Leads on the next page...</p>
            </div>

            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.qa_category.label}}</label>
                {{form.qa_category}}
            </div>
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.intra_extra.label}}</label>
                {{form.intra_extra}}
            </div>
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.revision_number.label}}</label>
                {{form.revision_number}}
            </div>
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.date.label}}</label>
                {{form.date}}
            </div>

            <!-- There's some blank space here in the original PDF Form -->
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.strap.label}}</label>
                {{form.strap}}
            </div>
            <div class="usa-form-group">
                <label for="" class="usa-label">{{form.tracking_id.label}}</label>
                {{form.tracking_id}}
            </div>

            <div class="button-group">
                <button type="submit" class="usa-button save">Next Page</button>
                <button type="reset" class="usa-button">Reset</button>
                <button type="reset" onclick="window.location.href='/qapp_builder/'" class="usa-button">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#id_date").datetimepicker(
            {
                sideBySide: true,
                format: 'MM/DD/YYYY HH:mm:ss',
            });
    });
</script>
{% endblock %}