{% extends "main/base.html" %} {% block content %} {% load static %}

{% include 'SectionA/detail_header_footer_partial.html' %}

<!-- First page of Section A with QAPP details (including Project Leads) -->
{% include '_qapp_header.html' %}
{% include 'qapp_details_partial.html' %}

<div class="button-group">
    <button onclick="window.location.href='/qapp_builder/'" class="usa-button">
        Back to QAPP List
    </button>
    {% if not edit_message %}
    <button onclick="window.location.href='/qapp_builder/edit/{{object.id}}'" class="usa-button">
        Edit QAPP
    </button>
    <button onclick="window.location.href='/qapp_builder/delete/{{object.id}}'" class="usa-button">
        Delete QAPP
    </button>
    {% endif %}
</div>

<div class="button-group">
    <button onclick="window.location.href='/qapp_builder/exportdoc/{{object.id}}'" class="usa-button">
        Export to Word Doc
    </button>
    <button onclick="window.location.href='/qapp_builder/exportpdf/{{object.id}}'" class="usa-button">
        Export to PDF
    </button>
    <button onclick="window.location.href='/qapp_builder/exportexcel/{{object.id}}'" class="usa-button">
        Export to Excel
    </button>
</div>
{% include 'SectionA/project_lead_partial.html' %}

<!-- Project Approval Page -->
{% include 'SectionA/project_approval_partial.html' %}

<!-- This is where A.2 Table of Contents would go in final doc. -->

{% include 'SectionA/detail_header_footer_partial.html' %}
{% endblock %}

{% block scripts %}{% endblock %}
