.custom-icon-label {
  position: relative;
  bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.custom-label {
  font-weight: bold;
}

.epa-custom-secondary-color {
  background-color: #A24400;
  width: 100vmax;
  position: absolute;
  left: 0;
  /* background-color: #007CD5; */
  /* background-color: #000DA2; */
  /* background-color: #00A295; */
  /* background-color: #5EA200; */
}

tr.active {
  background-color: #aacdec !important;
}

tr.active>td {
  background-color: #aacdec !important;
}

tr.active>th {
  background-color: #aacdec !important;
}

.control-label {
  text-align: right;
}

.blue-box-with-shadow {
  background-color: #00b0f0;
  font-family: Calibri;
  font-size: 1.3em;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
  box-shadow: -10px 10px 5px grey;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

.section-b-type-input {
  min-height: 12em;
}

.well {
  border-style: groove;
  border-color: lightgray;
  border-width: .1em;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.table-label {
  font-weight: bold;
}

.table-label-values {
  border-collapse: collapse;
}

.table-label-values td {
  border: none;
  padding: .33em;
}

.vertical-button-group button {
  display: inline-block;
  margin-bottom: 1em;
  width: 100%
}

.full-width {
  width: 100%;
}

.narrow-button-group {
  display: flex;
  margin-bottom: .25em;
}

.narrow-button-group button {
  margin-left: .5em;
  margin-right: .5em;
  padding: .25em;
}
